<!-- 个人中心模块 -->
<div class="row-content am-cf">
 <div class="row">
	<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
	<div class="widget am-cf">
	<div class="widget-head am-cf">
	<div class="widget-title am-fl">个人中心</div>
	<div class="widget-function am-fr">
	    <a href="javascript:;" class="am-icon-cog"></a>
	</div>
	</div>
	<div class="widget-body am-fr">
	<form class="layui-form" method="post" action="index" enctype="multipart/form-data">
	<div class="am-form tpl-form-line-form">
		<div class="am-form-group">
	        <label for="user-name" class="am-u-sm-3 am-form-label"><span class="tpl-form-line-small-title">头像</span></label>
	        <div class="am-u-sm-9">
	        	<div class="layui-input-block">
			        <div id="divcss5" class="layui-anim layui-anim-rotate layui-anim-loop"><img <?php if($result['file']){echo "src='../$img'";}?> id="demo1"  style="width:80px;height:80px;border-radius:50%;" /></div>
			         <button type="button" id="test1" style="margin-top: -60px;" class="am-btn am-btn-danger am-btn-sm">
    					<i class="am-icon-cloud-upload"></i> 上传头像</button>
			    </div>
	        </div>
	    </div>


	    <div class="am-form-group">
	        <label for="user-name" class="am-u-sm-3 am-form-label"><span class="tpl-form-line-small-title">姓名</span></label>
	        <div class="am-u-sm-9">
	            <input type="text" class="tpl-form-input" disabled="disabled" value="{$result['username']}"  placeholder="请输入您的姓名">
	            <small></small>
	        </div>
	    </div>


	    <div class="am-form-group">
	        <label for="user-email" class="am-u-sm-3 am-form-label"><span class="tpl-form-line-small-title">性别</span></label>
		        <div class="am-u-sm-9">
			      <input type="radio" name="sex" value="男" title="男" <?php if($result['sex']=='男'){echo "checked=''";}?> checked="">
            <input type="radio" name="sex" value="女" title="女" <?php if($result['sex']=='女'){echo "checked=''";}?> >
			    </div>
	    </div>

		<div class="am-form-group">
	        <label for="user-name" class="am-u-sm-3 am-form-label"><span class="tpl-form-line-small-title">身份证</span></label>
	        <div class="am-u-sm-9">
	            <input type="text" class="tpl-form-input" disabled="disabled"  value="{$result['id_card']}">
	            <small></small>
	        </div>
	    </div>

	    <div class="am-form-group">
	        <label for="user-name" class="am-u-sm-3 am-form-label"><span class="tpl-form-line-small-title">联系方式</span></label>
	        <div class="am-u-sm-9">
	            <input type="text" class="tpl-form-input" value="{$result['mobile']}" name="mobile" id="mobile" placeholder="请输入您的电话号码">
	            <small></small>
	        </div>
	    </div>

	    <div class="am-form-group">
	        <label for="user-name" class="am-u-sm-3 am-form-label"><span class="tpl-form-line-small-title">邮箱</span></label>
	        <div class="am-u-sm-9">
	            <input type="text" class="tpl-form-input" value="{$result['email']}" name="email" id="email" placeholder="请输入您的邮箱">
	            <small></small>
	        </div>
	    </div>

	     <div class="am-form-group">
	        <label for="user-email" class="am-u-sm-3 am-form-label"><span class="tpl-form-line-small-title">出生日期</span></label>
		        <div class="am-u-sm-9">
        		<input type="text" name="date_birth" id="date" lay-verify="date"  value="{$result['date_birth']}" placeholder="点击获取您的出生日期" autocomplete="off" class="layui-input">
      			</div>
	    </div>
		
		<div class="am-form-group">
            <label for="user-intro" class="am-u-sm-3 am-form-label"><span class="tpl-form-line-small-title">爱好</span></label>
            <div class="am-u-sm-9" id="hobbys">
                  <input type="checkbox"  name="hobby[]" title="游戏" value="游戏" <?php if($hobby){foreach($hobby as $key=>$val){if($val=='游戏'){echo "checked=''";}}}?> >
			      <input type="checkbox"  name="hobby[]" title="逛街" value="逛街" <?php if($hobby){foreach($hobby as $key=>$val){if($val=='逛街'){echo "checked=''";}}}else{echo "checked=''";}?> >
			      <input type="checkbox"  name="hobby[]" title="运动" value="运动" <?php if($hobby){foreach($hobby as $key=>$val){if($val=='运动'){echo "checked=''";}}}?> >
			      <input type="checkbox"  name="hobby[]" title="唱歌" value="唱歌" <?php if($hobby){foreach($hobby as $key=>$val){if($val=='唱歌'){echo "checked=''";}}}?> >
			      <input type="checkbox"  name="hobby[]" title="看电视" value="看电视" <?php if($hobby){foreach($hobby as $key=>$val){if($val=='看电视'){echo "checked=''";}}}?> >
            </div>
        </div>

		<div class="am-form-group">
            <label for="user-intro" class="am-u-sm-3 am-form-label"><span class="tpl-form-line-small-title">个性签名</span></label>
            <div class="am-u-sm-9">
                <textarea class="" rows="3" id="user-intro" name="autograph" placeholder="请输入个性签名">{$result['autograph']}</textarea>
            </div>
        </div>

	     <div class="am-form-group">
			<div class="am-u-sm-9 am-u-sm-push-3">
	        <button type="submit" style="width:30%;" id="submit"  class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">更新</button>
			</div>
	    </div>

<div></div></div>  </div>                            
</form>
<script src="__ASSETS__/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
  
  //普通图片上传
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: '../layout/upload_img'
    ,accept:'images'
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#demo1').attr('src', result); //图片链接（base64）
      });
    } ,done: function(res){
            console.log(res);
      }

  });

  
});
</script>
<script>
  //判断是否更新个人信息成功
  {}
  $(function(){
  	 //验证输入的手机号格式是否正确
      $("#mobile").blur(function(){
           var mobile=$(this).val();
         	if(!isPhoneNo(mobile)){ 
               layer.msg('请输入正确的手机号',{icon: 2,time: 1000});
           }
             
      })

       $("#email").blur(function(){
           var reg1 = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)/;
          if(reg1.test($(this).val()) == false ) {
               layer.msg('邮箱格式不正确', {icon: 2,time: 1000});
               return false;
           }

      })

  	 $("#submit").click(function(){
  	 	if($("#mobile").val()){
         	if(!isPhoneNo($("#mobile").val())){ 
               layer.msg('请输入正确的手机号',{icon: 2,time: 1000});
               return false;
            }
     	}

     	if($("#email").val()){
     		 var reg1 = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)/;
         	 if(reg1.test($("#email").val()) == false ) {
               layer.msg('邮箱格式不正确', {icon: 2,time: 1000});
               return false;
             }
     	}

  	 })
           
  })
</script>

<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
  //日期
  laydate.render({
    elem: '#date'
  });
  laydate.render({
    elem: '#date1'
  });
  
  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');
  
});
</script>
