{__NOLAYOUT__}<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__ASSETS__/css/amazeui.min.css" />
    <!-- <link rel="stylesheet" href="__ASSETS__/css/amazeui.datatables.min.css" /> -->
    <link rel="stylesheet" href="__ASSETS__/css/app.css">
    <script src="__ASSETS__/js/jquery.min.js"></script>
    <!-- 加载 -->
    <link rel="stylesheet" type="text/css" href="__ASSETS__/css/loader.css">

    <!-- 弹出 -->
    <link rel="stylesheet" href="__ASSETS__/css/x0popup.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette">
    <script>window.jQuery || document.write('<script src="__ASSETS__/js/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="__ASSETS__/js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="__ASSETS__/css/sweetalert2.min.css">
      <!-- IE support -->
    <script src="https://cdn.jsdelivr.net/es6-promise/latest/es6-promise.min.js"></script>
    <!-- 弹出 -->

</head>

<body data-type="login">
    <div id="jump" style="display: none;">
        <div class="loader loader-1" style="position: absolute;left: 44%;top: 40%;">
          <div class="loader-outter"></div>
          <div class="loader-inner" style="color:white;" id="tips">YES</div>
        </div>
    </div>    
    <script src="__ASSETS__/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-logo">

                </div>



                <form class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" id="id_card" placeholder="请输入身份证号或姓名">

                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" id="pass" placeholder="请输入密码">

                    </div>
                    <div class="am-form-group tpl-login-remember-me">
                        <input id="remember-me" type="checkbox">
                        <label for="remember-me">
       
                        记住密码
                         </label>

                    </div>






                    <div class="am-form-group">

                        <button type="button" id="submit" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">提交</button>

                    </div>
                </form>
              
            </div>
              <canvas></canvas>
        </div>
    </div>

    <script src="__ASSETS__/js/amazeui.min.js"></script>
    <script src="__ASSETS__/js/app.js"></script>
    <script src="__ASSETS__/js/x0popup.min.js"></script>
</body>
<script>
    $(function(){
        $("#submit").click(function(){
            var id_card = $("#id_card").val();
            var pass = $("#pass").val();
            if(!id_card && !pass){
                 x0p('登录提示', '请输入您的账号和密码', 'warning');  
                 return false;
            }
            
            $.ajax({
                url:'login',
                type:'post',
                data:{id_card:id_card,pass:pass},
                success:function(start){
                    if(start=="1"){
                        swal({
                          title: '登录成功!',
                          text: "Welcome to PeateHome",
                          type: 'success', 
                        }).then(function(isConfirm) {
                           window.location.href = "../index/index";
                        })
                    }else{
                       swal({
                          title: '登录失败!',
                          text: "您输入的账号或密码错误",
                          type: 'error', 
                        }).then(function(isConfirm) {
                           //window.location.href = "login";
                        })
                    }
                }
            })
            //$("#jump").attr("style","");

        })
    })
</script>
<script type="text/javascript">
    var canvas = document.querySelector('canvas');
        canvas.width = window.innerWidth;
        c = canvas.getContext('2d');

        window.addEventListener('resize', function () {
            canvas.height = window.innerHeight;
            canvas.width = window.innerWidth;

            initCanvas();
        });

        var mouse = {
            x: undefined,
            y: undefined };

        window.addEventListener('mousemove',
        function (event) {
            mouse.x = event.x;
            mouse.y = event.y;
            drawCircles();
        });

        window.addEventListener("touchmove",
        function (event) {
            let touch = event.touches[0];
            mouse.x = touch.clientX;
            mouse.y = touch.clientY;
            drawCircles();
        });


        function Circle(x, y, radius, vx, vy, rgb, opacity, birth, life) {
            this.x = x;
            this.y = y;
            this.radius = radius;
            this.minRadius = radius;
            this.vx = vx;
            this.vy = vy;
            this.birth = birth;
            this.life = life;
            this.opacity = opacity;

            this.draw = function () {
                c.beginPath();
                c.arc(this.x, this.y, this.radius, Math.PI * 2, false);
                c.fillStyle = 'rgba(' + rgb + ',' + this.opacity + ')';
                c.fill();
            };

            this.update = function () {
                if (this.x + this.radius > innerWidth || this.x - this.radius < 0) {
                    this.vx = -this.vx;
                }

                if (this.y + this.radius > innerHeight || this.y - this.radius < 0) {
                    this.vy = -this.vy;
                }

                this.x += this.vx;
                this.y += this.vy;

                this.opacity = 1 - (frame - this.birth) * 1 / this.life;

                if (frame > this.birth + this.life) {
                    for (let i = 0; i < circleArray.length; i++) {
                        if (this.birth == circleArray[i].birth && this.life == circleArray[i].life) {
                            circleArray.splice(i, 1);
                            break;
                        }
                    }
                } else {
                    this.draw();
                }
            };

        }

        var circleArray = [];

        function initCanvas() {
            circleArray = [];
        }

        var colorArray = [
        '355,85,80',
        '9,80,100',
        '343,81,45'];


        function drawCircles() {
            for (let i = 0; i < 6; i++) {
                let radius = Math.floor(Math.random() * 4) + 2;
                let vx = Math.random() * 2 - 1;
                let vy = Math.random() * 2 - 1;
                let spawnFrame = frame;
                let rgb = colorArray[Math.floor(Math.random() * colorArray.length)];
                let life = 100;
                circleArray.push(new Circle(mouse.x, mouse.y, radius, vx, vy, rgb, 1, spawnFrame, life));

            }
        }

        var frame = 0;
        function animate() {
            requestAnimationFrame(animate);
            frame += 1;
            c.clearRect(0, 0, innerWidth, innerHeight);
            for (let i = 0; i < circleArray.length; i++) {
                circleArray[i].update();
            }

        }

        initCanvas();
        animate();

        // This is just for demo purposes :
        for (let i = 1; i < 110; i++) {
            (function (index) {
                setTimeout(function () {
                    mouse.x = 100 + i * 10;
                    mouse.y = 100;
                    drawCircles();
                }, i * 10);
            })(i);
        }
</script>

</html>